@font-face {
  font-family: Audiowide;
  src: url("../public/Audiowide-Regular.ttf");
}

@font-face {
  font-family: DMsans;
  src: url("../public/DMSans-VariableFont_opsz\,wght.ttf");
}

@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-audiowide: Audiowide, "sans-serif";
  --font-dmsans: DMSans, "sans-serif";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}



